body
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    background: #333;
}

.edit-profile
{
    position: absolute;
    top: 13%;
    left: 25%;
    background: #ff3838;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 40px #ff3838;
    -moz-box-shadow: 0 0 40px #ff3838;
    -o-box-shadow: 0 0 40px #ff3838;
    box-shadow: 0 0 40px #ff3838;
}

.edit-profile-form .edit-profile .form-group
{
    margin-left: 25px;
}

.edit-profile-form .edit-profile .input-group-addon
{
    background: #fff;
    border-right: none;
}

.edit-profile-form .edit-profile .input-group .form-control
{
    border-left: none;
}

.edit-profile-form .edit-profile .btn-default
{
    padding: 10px 35px;
    margin-left: 10px;
    font-weight: bold;
}

























