body
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    background: #ff3838;
    
}

.forget
{
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 50px;
    width: 50%;
    color: #fff;
    background: #333;
    border-radius: 20px;
    -webkit-box-shadow: 0 20px 50px #000;
    -moz-box-shadow: 0 20px 50px #000;
    -o-box-shadow: 0 20px 50px #000;
    box-shadow: 0 20px 50px #000;
}

.forget-form .forget h1
{
    font-weight: bold;
    padding-bottom: 20px;
     color: #ce5252;
}

span
{
    color: #ce5252;
}

.forget-form .forget label
{
    font-size: 18px;
}


.forget-form .forget .input-group-lg > .forget-form .forget .form-control,
.forget-form .forget .input-group-lg > .forget-form .forget .input-group-addon,
.forget-form .forget .input-group-lg > .forget-form .forget .input-group-btn >
.forget-form .forget .btn
{
    margin-left: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ce5252;
    color: #fff;
    outline: none;
    width: 550px;
}


.forget-form .forget p
{
    font-size: 16px;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.forget-form .forget .btn-danger
{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
    padding: 15px 70px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ce5252;
    border: none;
    opacity: 0.6;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.forget-form .forget .btn-danger:hover
{
    opacity: 1;
    color: #fff;
    background-color: #ce5252;
}
























